services:
  app:
    container_name: jhomari-profile
    build: .
    ports:
      - "3000:3000"
    restart: always
    env_file:
      - .env
    networks:
      - cloudflare_net

networks:
  cloudflare_net:
    external: true
